<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}, {{name}}!
  </h1>
</div>

<button [ngClass]="{active: page === 'school', inactive: page !== 'school'}" (click)="show('school')">School</button>
<button [ngClass]="{active: page === 'student', inactive: page !== 'student'}"(click)="show('student')">Student</button>

<select  [(ngModel)]="page">
  <option *ngFor= "let item of pages" value="{{item.value}}">{{item.label}}</option>
</select>

<ng-container [ngSwitch]="page">
  <app-student-page *ngSwitchCase="'student'"></app-student-page>
  <app-school-page *ngSwitchCase="'school'"></app-school-page>
  <div *ngSwitchDefault>
    No page
  </div>
</ng-container>
